/* -- Christian Breshears. Last Edited: 4/16/22 --> */

/* This file serves no purpose other than personal notes to ensure I have completed 
every requirement for the web dev project.*/

/*
folders/files: check
comments at the top of each html page: check
tabbing: check
custom background on each page: check
appropriate titles: yes
navi links to eachother on all pages: yes
alt attributes for images: yes
external link on EACH page: yes (index = bootstrap - about = youtube channel - tableau = tableau)

index and about me pages overall overwrite 4 style attributes: yes
done in "mystyles" ^^^

2 on page anchors: yes - on about me page

3 images - yes - about me

resume - yes - about me

ordered/unordered lists: yes

embedded video: yes

fake contact info: yes

tableau made from scratch: yes
- 3 div elements: yes
- 2 custom styles: yes
- answered all 4 questions and included tableau charts: yes

clear aesthetic issues?
   - nothing absolutely horrendous.



   GO TO RUBRIC:

did I use it as a check list?
 - no. only after I added what I wanted to add did I use it to comb through any additional points I may be missing

 Page 1: homepage
 custome background: yes
 title: appropriate
 navi inks work: yes
 no broken images, media, etc: correct
 one external link: yes - to getbootstrap

overwrite multiple aspects? yes - in mystles.css


Page 2: about me/Resume
Custom background: yes
ordered list: yes
unordered list: yes
fake contact info: yes in footer
embedded video: yes
overwritten styles: yes
external link: yes - to youtube channel
custome title: yes
navi links work: yes
no broken images: checked.
no clear aesthetic errors: checked.



Page 3: tableau
at least 3 divs: yes
cutom title: yes
background: yes
stylesheet from scratch? yes
custom styles beyond div: yes
4 live tableau graphs that answer questions: yes
captioned graphs: yes
properly functioning div positioning/layout: yes
no broken images/links: checked.
no clear aesthetic errors: checked.



General Requirements::after2 on page anchors: yes. on about me
resume content with 3 sections: yes
website hosted online: yes via github
include name in an html comment: yes
followed folder structure: yes
images have alt-text attribute: yes
3 images: yes
proper code indentation: bingo.

Woo!!

*/